@import '../../../../assets/variables';

.Posts {
  width: 100%;

  header {
    background-color: $darkblue;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;

    p {
      font-size: $bigheadersize;
      color: $white;
      margin: 0;
    }
  }

  section.paginated-items {
    padding: 100px 0;
  }

}