// inner container size
$inner_container_max_size: 1460px;

// colors
$white: #ffffff;
$darkblue: #184979;
$graytext: #6c6c78;
$lightblue: #1298d2;
$darktext: #2c2c37;
$shaded: #566a8a;
$fineshade: #f7f7f8;
$fineshadedark: #efeff2;
$placeholdercolor: #b4b7d4;
